[submodule "android/src/android-mapviewballoons"]
	path = android/src/android-mapviewballoons
	url = https://github.com/wellsie1116/android-mapviewballoons
	branch = rhit
[submodule "ios/src/TouchJSON"]
	path = ios/src/TouchJSON
	url = https://github.com/TouchCode/TouchJSON.git
[submodule "android/src/ActionBarSherlock"]
	path = android/src/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
