[submodule "android/src/android-mapviewballoons"]
	path = android/src/android-mapviewballoons
	url = http://github.com/RHIT/android-mapviewballoons.git
[submodule "ios/src/TouchJSON"]
	path = ios/src/TouchJSON
	url = https://github.com/TouchCode/TouchJSON.git
