<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RHITMobile.Secure.WebService"
               behaviorConfiguration="WebServiceBehavior">
        <endpoint address="net.tcp://localhost:8000/RhitPrivate"
                  binding="netTcpBinding"
                  bindingConfiguration="Windows"
                  contract="RHITMobile.Secure.IWebService" />
        <endpoint address="net.tcp://localhost:8000/RhitPrivate/mex"
                  binding="mexTcpBinding"
                  bindingConfiguration="MexBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="Windows">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <mexTcpBinding>
        <binding name="MexBinding" />
      </mexTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WebServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <appSettings>
    <add key="InputPath"
         value="c:\InputData"/>
  </appSettings>
  <connectionStrings>
    <add name="RHITMobile.Secure.Properties.Settings.BannerDataConnectionString"
      connectionString="Data Source=tcp:mobileprivate.csse.rose-hulman.edu,4848;Initial Catalog=BannerData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>