<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RHITMobile.Secure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="RHITMobile.Secure.WebService"
               behaviorConfiguration="WebServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RHITSecure/service"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="RHITMobile.Secure.IWebService" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <appSettings>
    <add key="InputPath"
         value="c:\InputData"/>
  </appSettings>
  <connectionStrings>
    <add name="RHITMobile.Secure.Properties.Settings.BannerDataConnectionString"
      connectionString="Data Source=tcp:mobilewin.csse.rose-hulman.edu,4848;Initial Catalog=BannerData;Persist Security Info=True;User ID=kevin;Password=&lt;redacted&gt;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RHITMobile.Secure.Properties.Settings>
      <setting name="Switch" serializeAs="String">
        <value>False</value>
      </setting>
    </RHITMobile.Secure.Properties.Settings>
  </userSettings>
</configuration>